<h3>Books</h3>
<table class="table">
  <tbody>
    <% @book.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(@user.id) do %>
          <%= image_tag book.user.get_profile_image(100, 100) %><br>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>