<h3>Editing Book</h3>
<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>

  <%= f.submit "update" %>
  <%= link_to "戻る", books_path %>
  <%= link_to "show", book_path(@book.id) %>
<% end %>